extends layout

block scripts
  script(type="module", src="/public/admin.js", defer)

block content
  div.content
    p.content__title Posts
      each post,i in locals.posts
        div.content__block
          div.content__info
            p.content__label= post.name
            p= post.description
            div.comments-container.content__comments-container.hidden
              if post.comments.length === 0
                p.content__comments No comments yet
              else
                each comment,number in post.comments
                  div.content__comments-block
                    p.content__comments= comment.text
                    a(href='/api/comments', class= `post-${i}-com-${number}`, data-create= comment.date) Delete comment
          div(data-id= post.date).content__control
            button.comments-btn.button.control Comments
            button.edit-btn.button.control Edit
            button.admin-post-del.button.control Delete
  div.content
    p.content__title Users
      each user,i in locals.users
        div.content__block
          div.content__info
            p.content__label= user.login
          div.content__control(data-name= user.login)
            button.admin-user-del.button.control Delete






