extends layout

block scripts
  script(type="module", src="/public/js/index.js", defer)
  script(type="module", src="/public/js/admin.js", defer)

block content
  div.admin-content
    div.admin-content__tab
      input(checked, id="tab-btn-1", name="tab-btn", type="radio", value="")
      label(for="tab-btn-1") Posts
      input(id="tab-btn-2", name="tab-btn", type="radio", value="")
      label(for="tab-btn-2") Users
      div.admin-content__tab-content#content-1
        each post,i in locals.posts
          div.content__block
            div.content__info.header
              a(href="#").content__label= post.name
              div.content__control
                img(src="/public/img/icons24.png", alt="icon", class="content__icon")
                div.content__control-dropdown.hidden(data-id= post.date)
                  button.comments-btn.button.control Comments
                  button.admin-post-del.button.control Delete
            div.content__info.text
              p(id= `cutted-desc-${i}`).content__description= post.description.length > 5 ? post.description.slice(0, 5) + ` ...` : post.description
              p
                pre(id= `full-desc-${i}`).content__description.hidden= post.description
            div.comments-container.content__comments-container.hidden
              p.content__comments-title Comments
              if post.comments.length === 0
                div.content__comments-block
                  p.content__comments No comments yet
              else
                each comment,number in post.comments
                  div.content__comments-block
                    p.content__comments= comment.text
                    a(href='/api/comments', class= `post-${i}-com-${number}`)
                      img(src='/public/img/icon-del.png', alt='delete icon', data-create= comment.date)
      div.admin-content__tab-content#content-2
        each user,i in locals.users
          div.content__block.user
            div.content__info
              p.content__label= user.login
            div.content__control
              a(href='/api/comments', class= `post-${i}-com-${number}`)
                img(src='/public/img/icon-del.png', alt='delete icon', data-name= user.login).admin-user-del