extends layout

block content
  div.content
    p.content__title Posts
    if locals.id
      button#create-post.button Create post
      +add-post-form('add', 'add-close', 'Publish', 'btn-publish', 'name', 'description')
      +add-post-form('edit', 'edit-close', 'Send changes', 'btn-save', 'edit-name', 'edit-description')
    if locals.posts.length === 0
      p.content__warning You don't have any posts yet. Create first right now.
    else
      each post,i in locals.posts
        div.content__block
          div.content__info
            p.content__label= post.name
            p= post.description
            div.comments-container.content__comments-container.hidden
              if post.comments.length === 0
                p.content__comments No comments yet
              else
                each comment in post.comments
                  p.content__comments= comment.text
              if locals.id
                form(method="POST", action="/user_home/:id").form-comment.content__form.hidden
                  textarea(id=`comment-input-${i}`, placeholder="Enter your comment", name="text", required, rows="3", width="100%", class="comment")
                  button.button.control(id=`comment-submit-btn-${i}`, type="submit")= `Send`

          if locals.id
            div(data-id= post.date).content__control
              button.comments-btn.button.control Comments
              if locals.id === post.author.id
                button.edit-btn.button.control Edit
                button.del-btn.button.control Delete
          else
            div.content__control(data-id= post.date)
              button.comments-btn.button.control Comments



